.cc-icon {
	background-image: url(/packages/creditcardicons/img/Flat-Credit-Card-Icons-580.png);
	background-repeat: no-repeat;
	width: 68px;
	height: 46px;
	display: inline-block;
}
/* 54px between cards horizontally (105), 40px vertically (102)*/
.cc-icon.cc-backside {background-position: -47px -24px; }
.cc-icon.cc-amazon {background-position: -152px -24px; }
.cc-icon.cc-amazon-a {background-position: -256px -24px; }
.cc-icon.cc-amex {background-position: -360px -24px; }
.cc-icon.cc-american-express {background-position: -465px -24px; }
/* second row */
.cc-icon.cc-dollar-sign {background-position: -47px -97px; }
.cc-icon.cc-present {background-position: -152px -97px; }
.cc-icon.cc-apple-grey {background-position: -256px -97px; }
.cc-icon.cc-apple-black {background-position: -360px -97px; }
.cc-icon.cc-discover-white {background-position: -465px -97px; }
/* third row */
.cc-icon.cc-discover-orange {background-position: -47px -171px; }
.cc-icon.cc-discover-black {background-position: -152px -171px; }
.cc-icon.cc-visa {background-position: -256px -171px; }
.cc-icon.cc-visa-blue {background-position: -360px -171px; }
.cc-icon.cc-mastercard {background-position: -465px -171px; }
/* fourth row */
.cc-icon.cc-mastercard-empty {background-position: -47px -244px; }
.cc-icon.cc-maestro {background-position: -152px -244px; }
.cc-icon.cc-maestro-empty {background-position: -256px -244px; }
.cc-icon.cc-paypal-white {background-position: -360px -244px; }
.cc-icon.cc-paypal-blue {background-position: -465px -244px; }
/* fifth row */
.cc-icon.cc-paypal-p {background-position: -47px -317px; }
.cc-icon.cc-android-white {background-position: -152px -317px; }
.cc-icon.cc-android-black {background-position: -256px -317px; }
.cc-icon.cc-diners-white {background-position: -360px -317px; }
.cc-icon.cc-diners-blue {background-position: -465px -317px; }

.cc-icon-lg {
	background-image: url(/packages/creditcardicons/img/Flat-Credit-Card-Icons-1160.png);
	background-repeat: no-repeat;
	width: 137px;
	height: 91px;
	display: inline-block;
}
/* 54px between cards horizontally (105), 40px vertically (102)*/
.cc-icon-lg.cc-backside {background-position: -93px -49px; }
.cc-icon-lg.cc-amazon {background-position: -303px -49px; }
.cc-icon-lg.cc-amazon-a {background-position: -511px -49px; }
.cc-icon-lg.cc-amex {background-position: -720px -49px; }
.cc-icon-lg.cc-american-express {background-position: -929px -49px; }
/* second row */
.cc-icon-lg.cc-dollar-sign {background-position: -93px -195px; }
.cc-icon-lg.cc-present {background-position: -303px -195px; }
.cc-icon-lg.cc-apple-grey {background-position: -511px -195px; }
.cc-icon-lg.cc-apple-black {background-position: -720px -195px; }
.cc-icon-lg.cc-discover-white {background-position: -929px -195px; }
/* third row */
.cc-icon-lg.cc-discover-orange {background-position: -93px -341px; }
.cc-icon-lg.cc-discover-black {background-position: -303px -341px; }
.cc-icon-lg.cc-visa {background-position: -511px -341px; }
.cc-icon-lg.cc-visa-blue {background-position: -720px -341px; }
.cc-icon-lg.cc-mastercard {background-position: -929px -341px; }
/* fourth row */
.cc-icon-lg.cc-mastercard-empty {background-position: -93px -487px; }
.cc-icon-lg.cc-maestro {background-position: -303px -487px; }
.cc-icon-lg.cc-maestro-empty {background-position: -511px -487px; }
.cc-icon-lg.cc-paypal-white {background-position: -720px -487px; }
.cc-icon-lg.cc-paypal-blue {background-position: -929px -487px; }
/* fifth row */
.cc-icon-lg.cc-paypal-p {background-position: -93px -633px; }
.cc-icon-lg.cc-android-white {background-position: -303px -633px; }
.cc-icon-lg.cc-android-black {background-position: -511px -633px; }
.cc-icon-lg.cc-diners-white {background-position: -720px -633px; }
.cc-icon-lg.cc-diners-blue {background-position: -929px -633px; }

.cc-icon-sm {
	background-image: url(/packages/creditcardicons/img/Flat-Credit-Card-Icons-406.png);
	background-repeat: no-repeat;
	width: 48px;
	height: 32px;
	display: inline-block;
}
/* 73px between cards horizontally, 51px vertically*/
.cc-icon-sm.cc-backside {background-position: -33px -17px; }
.cc-icon-sm.cc-amazon {background-position: -106px -17px; }
.cc-icon-sm.cc-amazon-a {background-position: -176px -17px; }
.cc-icon-sm.cc-amex {background-position: -252px -17px; }
.cc-icon-sm.cc-american-express {background-position: -325px -17px; }
/* second row */
.cc-icon-sm.cc-dollar-sign {background-position: -33px -68px; }
.cc-icon-sm.cc-present {background-position: -106px -68px; }
.cc-icon-sm.cc-apple-grey {background-position: -176px -68px; }
.cc-icon-sm.cc-apple-black {background-position: -252px -68px; }
.cc-icon-sm.cc-discover-white {background-position: -325px -68px; }
/* third row */
.cc-icon-sm.cc-discover-orange {background-position: -33px -119px; }
.cc-icon-sm.cc-discover-black {background-position: -106px -119px; }
.cc-icon-sm.cc-visa {background-position: -176px -119px; }
.cc-icon-sm.cc-visa-blue {background-position: -252px -119px; }
.cc-icon-sm.cc-mastercard {background-position: -325px -119px; }
/* fourth row */
.cc-icon-sm.cc-mastercard-empty {background-position: -33px -170px; }
.cc-icon-sm.cc-maestro {background-position: -106px -170px; }
.cc-icon-sm.cc-maestro-empty {background-position: -176px -170px; }
.cc-icon-sm.cc-paypal-white {background-position: -252px -170px; }
.cc-icon-sm.cc-paypal-blue {background-position: -325px -170px; }
/* fifth row */
.cc-icon-sm.cc-paypal-p {background-position: -33px -221px; }
.cc-icon-sm.cc-android-white {background-position: -106px -221px; }
.cc-icon-sm.cc-android-black {background-position: -176px -221px; }
.cc-icon-sm.cc-diners-white {background-position: -252px -221px; }
.cc-icon-sm.cc-diners-blue {background-position: -325px -221px; }
